.about-us {
    padding: 50px;
  }
  
  .about-us h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .about-us p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .about-us ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .about-us li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .about-us li:last-child {
    margin-bottom: 0;
  }
  
  .about-us a {
    color: #007bff;
    text-decoration: none;
  }
  
  .about-us a:hover {
    text-decoration: underline;
  }
  
  .about-us-logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
    margin-bottom: 30px;
  }

  .Logout-Confirmation-Container{
    background-color: #fefefe;
    border: 1px solid #888;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
    padding: 0 30px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
    }