.message-body{
    margin-top: 20px;
    width: 30%;
    padding: 5px;
}

.message-window{
    padding: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    width: 100%;
    height: 80%;
}

li{
    display: inline-block;
    vertical-align: middle;
}

.message-account-profpic-online{
    height: 70px;
    margin-right: 10px;
    border: 2px solid green;
    border-radius: 360px;
}

.message-account-profpic-offline{
    height: 70px;
    margin-right: 10px;
    border: 2px solid gray;
    border-radius: 360px;
}

.message-window-head{
    padding: 10px;
    width: 100%;
    border-bottom: 3px solid #13239ac0;
    margin-bottom: 10px;
}

.message-window-message-box{
    overflow-y: auto;
    height: 80%;
    max-height: 80%;
}

.message-window-message-display-box{
    padding-top: 5px;
    padding-bottom: 5px;
}

.message-window-message-display-box-message{
    border-left: 2px solid #13239ac0;
    padding-left: 10px;
}

.message-window-input-message{
    position:unset;
    top: 1%;
}

.message-window-input-message input{
    text-align: left;
    width: 90%;
    height:30px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 360px;
}

.theme-button{
    height: 35px;
    width: 35px;
    border: dashed #ffffff3d 0.5px;
    background-color: #2058d100;
    border-radius: 360px;
    padding: 5px;
    margin-top: 22px;
  }

@media(max-width: 720px) {
    .message-body{
        width: 90%;
    }
    .message-window-message-box{
        height: 75%;
        max-height: 75%;
        font-size: 15px;
    }
  	.message-window-input-message{
        margin-top: 5px;
    }
}
.menu-icon{
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}