body{
    color: white;
    background-color: rgb(8, 17, 34);
}

.theme-icon{
    color: rgb(0, 0, 0);
}

.feed-page-body{
    width: 80%;
}

.feed-page-head{
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: solid rgb(255, 255, 255) 1px;
}

.feed-posting-box{
    margin-top: 20px;
    background-color: #163353d1;
    border: solid rgba(255, 255, 255, 0.568) 1px;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.feed-post-box-textarea{
    width: 100%;
    height:15%;
    padding: 30px;
    font-size: 17px;
    border-radius: 5px;
    min-width: 100%;
    max-width: 100%;
}

.post-btn{
    width: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: solid rgb(255, 255, 255);
    border: none;
    border-radius: 7px;
    background-color: #2058d1;
    color: rgb(255, 255, 255);
}

.feed-post-display-box{
    margin-top: 20px;
    background-color: #163353d1;
    border: solid rgba(128, 128, 128, 0.356) 1px;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.feed-post-display-box-head li{
    display: inline-block;
    vertical-align: middle;
}
.feed-post-display-box-head img{
    height: 40px;
    border: solid green 1px;
    border-radius: 360px;
}

.feed-post-display-box-message{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 17px;
    border-left: solid #13239a 3px;
}


.feed-post-display-box-image{
    padding-right: 60%;
}

input.postimage{
    border: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 7px;
    margin-bottom: 0px;
    height: 65px;
}

::-webkit-file-upload-button{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: #2058d1;
    color: white;
}

a{
    color: white;
}

/* Message Page CSS */

.message-body{
    margin-top: 20px;
    width: 30%;
    padding: 5px;
}

.message-window{
    background: #132d4a;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    width: 100%;
    height: 80%;
}

li{
    display: inline-block;
    vertical-align: middle;
}

.message-account-profpic-online{
    height: 70px;
    margin-right: 10px;
    border: 2px solid green;
    border-radius: 360px;
}

.message-account-profpic-offline{
    height: 70px;
    margin-right: 10px;
    border: 2px solid gray;
    border-radius: 360px;
}

.message-window-head{
    padding: 10px;
    width: 100%;
    border-bottom: 3px solid #13239ac0;
    margin-bottom: 10px;
}

.message-window-message-box{
    border: solid 1px #ffffff96;
    border-radius: 18px;
    padding: 15px;
    background-color: #081122;
    overflow-y: auto;
    height: 80%;
    max-height: 80%;
}

.message-window-message-display-box{
    padding-top: 5px;
    padding-bottom: 5px;
}

.message-window-message-display-box-message{
    border-left: 2px solid #13239ac0;
    padding-left: 10px;
}

.message-window-input-message{
    position:unset;
    top: 1%;
}

.message-window-input-message input{
    text-align: left;
    width: 90%;
    height:30px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 360px;
}

.theme-button{
    height: 35px;
    width: 35px;
    border: dashed #ffffff3d 0.5px;
    background-color: #2058d100;
    border-radius: 360px;
    padding: 5px;
    margin-top: 22px;
}

@media(max-width: 720px) {
    .message-body{
        width: 90%;
    }
    .message-window-message-box{
        height: 75%;
        max-height: 75%;
        font-size: 15px;
    }
  	.message-window-input-message{
        margin-top: 5px;
    }
}


/* About Page CSS */
.about-us {
    padding: 50px;
  }
  
  .about-us h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .about-us p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .about-us ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .about-us li {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .about-us li:last-child {
    margin-bottom: 0;
  }
  
  .about-us a {
    color: #007bff;
    text-decoration: none;
  }
  
  .about-us a:hover {
    text-decoration: underline;
  }
  
  .about-us-logo {
    display: block;
    margin: 0 auto;
    max-width:200px;
    height: auto;
    margin-bottom: 30px;
  }
  
  

@media(max-width: 720px){
    .feed-page-body{
        width: 90%;
    }

    .feed-posting-box{
        padding-left: 30px;
        padding-right: 30px;
    }

    .feed-post-box-textarea{
        padding: 20px;
        font-size: 15px;
    }

    .feed-post-display-box-message{
        padding-right: 15px;
        padding-left: 15px;
        font-size: 15px;
    }

    .feed-post-display-box-head li{
        font-size: 14px;
    }

    .feed-post-display-box-image{
        padding-right: 0%;
    }
    .theme-button{
        height: 35px;
        width: 35px;
        border: solid #ffffff3d 0.5px;
        background-color: #2058d100;
        border-radius: 360px;
        padding: 5px;
        margin-top: 25px;
    }
    
}
.menu-icon{
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}